body{
    --colorPrimary: #fdf5e6; 
    --color-primary-dark: #fdf5e6; 
    --color-secondary: #faead6;
    --color-error: red;
    --color-sucess: green; 
    --color-grey: grey;
    --border-radius: 15px;

    margin: 0;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 18px;
    background-image: url(Images/FNF_AB_BG.jpeg);
    background-size: cover;
}

.container{
    width: 400px;
    max-width: 400px;
    margin: 1rem;
    padding: 3rem;
    box-shadow: 0 0 40px rgba(0, 0, 0, 0.2);
    border-radius: var(--border-radius);
    background: var(--color-secondary);
}

.container, .form__input, .form__button{
    font: 500 1rem 'Quicksand', sans-serif;
}

.form--hidden{
    display: none;
}

.form > *:first-child{
    margin-top: 0;
}
.form > *:last-child{
    margin-bottom: 0;
}

.form__title{
    margin-bottom: 2rem;
    text-align: center;
}

.form__message{
    text-align: center;
    margin-bottom: 1rem;
}
.form__message--success{
    color: var(--color-sucess);
}
.form__message--error{
    color: var(--color-error);
}

.form__inputs-group{
    margin-bottom: 1.5rem;
}

.form__input{
    display: block;
    width: 100%;
    padding: 0.75rem;
    box-sizing: border-box;
    border-radius: var(--border-radius);
    border: 1px solid var(--color-grey);
    outline: none;
    background: var(--colorPrimary);
    transition: background 0.2s, border-color 0.2s;
}

.form__input:focus{
    border-color: var(--color-grey);
    background: white;
}

.form__input--error{
    border-color: var(--color-error);
    color: var(--color-error);
}

.form__input-error-message{
    margin-top: 0.5rem;
    font-size: 0.85rem;
    color: var(--color-error);
}

.form__label {
    display: block;
    margin-bottom: 0.5rem;
    color: #333;
    font-weight: bold;
}

.form__button{
    width: 100%;
    padding: 1rem 2rem;
    font-weight: bold;
    font-size: 1.1rem;
    color: black;
    border-radius: var(--border-radius);
    background: rgb(167, 81, 68);
    cursor: pointer;
}

.form__button:hover{
    background: #9a5f4d;
}

.form__button:active{
    transform: scale(0.98);
}

.form__text{
    padding-top: 15px;
    text-align: center;
}

.form__link{
    color: rgb(167, 81, 68);
    text-decoration: none;
    cursor: pointer;
}
.form__link:hover{
    text-decoration: underline;
}
